body{
    background-color:#F1F0FF;
    background-image:url("photos/bg.jpg");
    height : 300%;
    background-repeat: no-repeat;
    background-size: cover;
}

.home{
    background-color: #443266;
    color: white;
}

header a{
    
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.head a{
    text-decoration:none;
}
    

header a:hover{
      background-color: #ddd;
      color: black;
}

.a{
    text-align:center;
    position: absolute;
    top:70%;
    left:30%;
}

footer{
    text-align:center;
    position: absolute;
    top:95%;
    left:42.5%;
}

.image{
    position: absolute;
    left:41%;
    top:20%;
    width: 200px;
    height: 300px;
}

img{
    max-width: 100%;
    height: auto;
}