body{
    background-color:#F1F0FF;
    background-image:url("photos/bg.jpg");
    height : 300%;
    background-repeat: no-repeat;
    background-size: cover;
}

.home{
    background-color: #443266;
    color: white;
}

header a{
    
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.head a{
    text-decoration:none;
}
    

header a:hover{
      background-color: #ddd;
      color: black;
}

.a{
    text-align:center;
    position: absolute;
    top:70%;
    left:30%;
}

h1{
    text-align:center;
    position: absolute;
    top:13%;
    left:33.5%;
}

.up1{
    position: absolute;
    top:27%;
    left:18%;
}
.progimg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border-radius:10px;*/
    position: absolute;
    top:35%;
    left:15%;
    width:250px;
    height:300px;
}
.overlay {
  position: absolute;
  left: 15%;
  top: 35%;
  background-color: #443266;
  overflow: hidden;
  width: 250px;
  height: 0;
  transition: .5s ease;
}

.programming:hover .overlay {
  bottom: 0;
  height: 300px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.up2{
    position: absolute;
    top:27%;
    left:43%;
}
.photoimg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border-radius:10px;*/
    position: absolute;
    top:35%;
    left:40%;
    width:250px;
    height:300px;
}
.overlay1 {
  position: absolute;
  left: 40%;
  top: 35%;
  background-color: #443266;
  overflow: hidden;
  width: 250px;
  height: 0;
  transition: .5s ease;
}

.photography:hover .overlay1 {
  bottom: 0;
  height: 300px;
}

.up3{
    position: absolute;
    top:27%;
    left:70.5%;
}
.chessimg{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*border-radius:10px;*/
    position: absolute;
    top:35%;
    left:65%;
    width:250px;
    height:300px;
}
.overlay2 {
  position: absolute;
  left: 65%;
  top: 35%;
  background-color: #443266;
  overflow: hidden;
  width: 250px;
  height: 0;
  transition: .5s ease;
}

.gaming:hover .overlay2 {
  bottom: 0;
  height: 300px;
}

img{
    max-width: 100%;
    height: auto;
}

footer{
    text-align:center;
    position: absolute;
    top:95%;
    left:42.5%;
}