body{
    background-color:#F1F0FF;
    background-image:url("photos/bg.jpg");
    height : 300%;
    background-repeat: no-repeat;
    background-size: cover;
}

.home{
    background-color: #443266;
    color: white;
}

header a{

    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.head a{
    text-decoration:none;
}


header a:hover{
      background-color: #ddd;
      color: black;
}

.a{
    text-align:center;
    position: absolute;
    top:70%;
    left:30%;
}

.box{
    background-color:#443266;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:800px;
    height:400px;
    position:absolute;
    top:20%;
    right:21%;
}
.h1{
    color:white;
    position:absolute;
    right:38%;
    top:5%;
}
.para{
    color:white;
    position:absolute;
    top:25%;
    left:3%;
    font-size:1.2em;
    font-family:Helvetica ;
}

.hyper1{
    position:absolute;
    left:90%;
    bottom:5%;
    
}
.hyper2{
    position:absolute;
    left:85%;
    bottom:5%;
    
}

.hyper3{
    position:absolute;
    left:80%;
    bottom:5%;
    
}

.img{
    border-radius:5px ;
    width:30px;
    height:30px;
}

.img:hover{
    background-color: #ddd;
}

img{
    max-width: 100%;
    height: auto;
}

footer{
    text-align:center;
    position: absolute;
    top:95%;
    left:42.5%;
}